.card-container {
    background-image: url("/src/images/pic\ back.jpg");
    background-size: cover;
}

.btn-projects{
    opacity: 25%;
    transition: all ease-in-out 900ms;
}

.project{
    opacity: 5%;
    transition: all ease-in-out 900ms;
}

.card-container:hover > .btn-projects,
.card-container:hover > .project {
    opacity: 100%;
}