


/* Typography =======================*/

/* Headings */

/* Main heading for card's front cover */
.card-front__heading {
    font-size: 1rem;
  }
  
  /* Main heading for inside page */
  .inside-page__heading { 
    padding: 1rem 0;
  }
  
  /* Mixed */
  
  /* For both inside page's main heading and 'view me' text on card front cover */
  .inside-page__heading,
  .card-front__text-view {
    font-size: 1rem;
    font-weight: 800;
  }
  
  .inside-page__heading--city,
  .card-front__text-view--city { color: #000b47; }
  
  /* Front cover */
  
  .card-front__tp { color: #fafbfa; }
  
  /* For pricing text on card front cover */
  .card-front__text-price {
    font-size: .9rem;
  }
  
  /* Back cover */
  
  /* For inside page's body text */
  .inside-page__text {
    color: #333;
  }

  
  /* Buttons =================================================*/
  
  .inside-page__btn {
    background-color: transparent;
    border: 1px solid;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 600;
    overflow: hidden;
    padding: .7rem .75rem;
    position: relative;
    text-decoration: none;
    transition: all .3s ease;
    width: 90%;
    z-index: 10;
  }
  
  .inside-page__btn::before { 
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleY(0);
    transition: all .3s ease;
    width: 100%;
    z-index: -1;
  }
  
  .inside-page__btn--city {
    border-color: none;
    color: #152535;
}
  
  .inside-page__btn--city::before { 
    background-color: #000b47;
  }
  
  .inside-page__btn:hover { 
    color: #f8f0ff;
  }
  
  .inside-page__btn:hover::before { 
    transform: scaleY(1);
  }
  
 
  
  /* Container to hold all cards in one place */
  /* .card-area {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-around;
  } */
  
  /* Card ============================================*/
  .main{
    width: 95%;
    margin: 0 auto;
  }
  
  /* Area to hold an individual card */
  .card-section {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    padding: .2rem;
  }
  
  /* A container to hold the flip card and the inside page */
  .card {
    background-color: rgba(0,0,0, .05);
    box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
    height: 15rem;
    position: relative;
    transition: all 1s ease;
    width: 10rem;
  }
  
  /* Flip card - covering both the front and inside front page */
  
  /* An outer container to hold the flip card. This excludes the inside page */
  .flip-card {
    height: 15rem;
    perspective: 100rem;
    position: absolute;
    right: 0;
    transition: all 1s ease;
    visibility: hidden;
    width: 10rem;
    z-index: 100;
  }
  
  /* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
  /* This is done so content in the inside page can be selected */
  .flip-card > * {
    visibility: visible;
  }
  
  /* An inner container to hold the flip card. This excludes the inside page */
  .flip-card__container {
    height: 100%;
    position: absolute;
    right: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 1s ease;
    width: 100%;
  }
  
  .card-front,
  .card-back {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  /* Styling for the front side of the flip card */
  
  /* container for the front side */
  .card-front {
    background-color: #fafbfa;
    height: 15rem;
    width: 10rem;
  }
  
  /* Front side's top section */
  .card-front__tp {
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 95%, 43% 90%, 0 90%);
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: center;
    padding: .75rem;
  }
  
  .card-front__tp--city {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("/src/images/pic\ back.jpg");
    background-size: cover;
  }
  
  /* Front card's bottom section */
  .card-front__bt {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  /* Styling for the back side of the flip card */
  
  .card-back {
    background-color: #fafbfa;
    transform: rotateY(180deg);
  }
  
  /* Specifically targeting the <video> element */
  .image__container {
    clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
    height: 100%;
    min-height: 100%;
    object-fit: cover;
    width: 100%;
  }
  
  /* Inside page */
  
  .inside-page {
    background-color: #fafbfa;
    box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
    height: 100%;
    padding: 0;
    position: absolute;
    right: 0;
    transition: all 1s ease;
    width: 10rem;
    z-index: 1;
  }
  
  .inside-page__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center; 
    width: 100%;
  }
  
  /* Functionality ====================================*/
  
  /* This is to keep the card centered (within its container) when opened */
  .card:hover {
    box-shadow:
    -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
    width: 20rem;
  }
  
  /* When the card is hovered, the flip card container will rotate */
  .card:hover .flip-card__container {
    transform: rotateY(-180deg);
  }
  
  /* When the card is hovered, the shadow on the inside page will shrink to the left */
  .card:hover .inside-page {
    box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
  }
  
  